# Virtual environment
falconeye_env/

# Model weights (too large for GitHub)
*.pt
*.pth

# Dataset and generated outputs (too large for GitHub)
data/
models/
predictions/

# Training runs output
runs/

# Python cache
__pycache__/
*.pyc

# API keys
.env
roboflow.json

# Roboflow downloads
*.zip
